menu "Wi-Fi Configuration"

    config WIFI_SSID
        string "Wi-Fi SSID"
        default "MiRedWiFi"
        help
            Nombre de la red Wi-Fi a la que se conectará el ESP32.
    
    config WIFI_PASSWORD
        string "Wi-Fi Password"
        default "MiClaveSecreta"
        help
            Contraseña de la red Wi-Fi.
    
    endmenu
    